<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
</head>
<body>
<div class="wrapper">
    <header>
    <div class="head_font" >Shelter online</div>
    <div class="name_font" >{{name}}
    <a href="/logout">Выйти</a>
        </div>
    </header>

    <div class="element" id="hero_container">
        <h1> Герой </h1>
        <div id="hero">
            <div class="base_font" >
          <div id="hero_name"></div>
          <div> Здоровье: <span id="hero_hp"> </span> из <span id="hero_max_hp"> </span> </div>               
          <div> Сила: <span id="strength"> </span>  </div>
          <div> Восприятие: <span id="perception"> </span> </div>
          <div> Выносливость: <span id="endurance"> </span> </div>
          <div> Харизма: <span id="charisma"> </span>  </div>
          <div> Интелект: <span id="intellect"> </span> </div>
          <div> Ловкость: <span id="agility"> </span> </div>
          <div> Удача: <span id="luck"> </span> </div>
            <br>
          <div> Аптечки: <span id="stimpacks"> </span>  </div>
          <div> Золото: <span id="money"> </span> </div>
          <div> Опыт: <span id="experience"> </span>  </div>

        </div>
    </div>

    <div class="element" id="feed_container">
      <h1> Новости </h1>
        <div class="base_font" >
      <div id="feed">
      </div>
            </div>
    </div>

    <div class="element" id="enemy_container">
        <h1> Враг </h1>
        <div class="base_font" >
        <div id="enemy">
          <div> Здоровье: <span id="enemy_hp"> </span> из <span id="enemy_max_hp"> </span> </div>
          <div> Атака: <span id="enemy_attack"> </span>  </div>
          <div> Защита: <span id="enemy_defence"> </span> </div>
          <div> Золото: <span id="enemy_gold"> </span> </div>
          <div> Опыт: <span id="enemy_exp"> </span>  </div>
        </div>
            </div>
    </div>
</div>

<footer>

ДОБАВИТЬ: <br>
    список разработчиков и ссылокчи на соцсети<br>
    Кнонка дотатов<br>
    все права защищены, copyright  и т.д
</footer>



</body>
<script>
    function httpGetAsync(theUrl, callback)
{
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.onreadystatechange = function() {
        if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
            callback(xmlHttp.responseText);
    }
    xmlHttp.open("GET", theUrl, true); // true for asynchronous
    xmlHttp.send(null);
}

function response_handler(str_response) {
    let json_response = JSON.parse(str_response)
    console.log(json_response)
    let txt = json_response.message
    let feed = document.getElementById("feed");
    let news_div=document.createElement("div");
    news_div.classList.add("news");
    news_div.innerHTML=txt;
    let news_divs=document.getElementsByClassName('news');
    if (news_divs.length>5) {
        news_divs[0].remove();
    }
    feed.append(news_div)
    let hero = json_response.hero
    let hero_div=document.getElementById('hero_hp');
    hero_div.innerHTML=hero.hp;
    hero_div=document.getElementById('hero_max_hp');
    hero_div.innerHTML=hero.max_hp;
    hero_div=document.getElementById('strength');
    hero_div.innerHTML=hero.S;
    hero_div=document.getElementById('perception');
    hero_div.innerHTML=hero.P;
    hero_div=document.getElementById('endurance');
    hero_div.innerHTML=hero.E;
    hero_div=document.getElementById('charisma');
    hero_div.innerHTML=hero.C;
    hero_div=document.getElementById('intellect');
    hero_div.innerHTML=hero.I;
    hero_div=document.getElementById('agility');
    hero_div.innerHTML=hero.A;
    hero_div=document.getElementById('luck');
    hero_div.innerHTML=hero.L;
    hero_div=document.getElementById('experience');
    hero_div.innerHTML=hero.exp;
    hero_div=document.getElementById('money');
    hero_div.innerHTML=hero.money;
    hero_div=document.getElementById('stimpacks');
    hero_div.innerHTML=hero.stimpacks;


}

setInterval(() => httpGetAsync('http://localhost:5000/api/update/{{current_user.id}}',response_handler),3000);

</script>
</html>