<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
</head>
<body>
<div class="wrapper">

    <div class="element" id="hero_container">
        <h1> Герой </h1>
        <div id="hero">
          <div id="hero_name"></div>
          <div> Здоровье: <span id="hero_hp"> </span> из <span id="hero_max_hp"> </span> </div>
          <div> Атака: <span id="hero_attack"> </span>  </div>
          <div> Защита: <span id="hero_defence"> </span> </div>
          <div> Золото: <span id="hero_gold"> </span> </div>
          <div> Опыт: <span id="hero_exp"> </span>  </div>
        </div>
    </div>

    <div class="element" id="feed_container">
      <h1> Новости </h1>
      <div id="feed">
      </div>
    </div>

    <div class="element" id="enemy_container">
        <h1> Враг </h1>
        <div id="enemy">
          <div> Здоровье: <span id="enemy_hp"> </span> из <span id="enemy_max_hp"> </span> </div>
          <div> Атака: <span id="enemy_attack"> </span>  </div>
          <div> Защита: <span id="enemy_defence"> </span> </div>
          <div> Золото: <span id="enemy_gold"> </span> </div>
          <div> Опыт: <span id="enemy_exp"> </span>  </div>
        </div>
    </div>
</div>
<script>
    function httpGetAsync(theUrl, callback)
{
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.onreadystatechange = function() {
        if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
            callback(xmlHttp.responseText);
    }
    xmlHttp.open("GET", theUrl, true); // true for asynchronous
    xmlHttp.send(null);
}

function response_handler(str_response) {
    let json_response = JSON.parse(str_response)
    console.log(json_response)
    let txt = json_response.message
    let feed = document.getElementById("feed");
    let news_div=document.createElement("div");
    news_div.classList.add("news");
    news_div.innerHTML=txt;
    let news_divs=document.getElementsByClassName('news');
    if (news_divs.length>5) {
        news_divs[0].remove();
    }
    feed.append(news_div)
    let hero = json_response.hero
    let hero_hp_div=document.getElementById('hero_hp');
    hero_div.innerHTML=hero.hp;
    if (hero.state === 'battle'): {
        enemy = json_response.enemy
        document.getElementById('enemy_max_hp').innerHTML(enemy.max_hp)
        document.getElementById('enemy_hp').innerHTML(enemy.hp)
    }
}

setInterval(() => httpGetAsync('http://localhost:5000/api/update/{{current_user.id}}',response_handler),3000);

</script>
</body>
</html>