<HTML>
	<head>
		<title>Personages</title>
		<meta charset="utf8">
		<style>
			header{
			text-align: center;
			font-size: 45px;
			font-style: oblique;
			font-weight: 700;
			}
			a{
			color: black;
			font-size: 25px;
			text-decoration: none;
			}
			a:hover {
			text-decoration: underline;
    		font-size: 30px;
    		font-style: oblique;
    		font-weight: 700;
    		}
    		p{
    		font-size: 30px;}
    		select{
    		font-size: 23px;
   			}
   			input{
   			font-size: 23px;
   			}

		</style>
	</head>
	<body>
	<header>Personages</header>
	<ul>
		{%for personage in personages%}
		<li><a href="{{url_for('pers_page', p_id=personage.id)}}">{{personage.name}}</a></li>
		{% endfor %}
	</ul><br>
	<a href="http://127.0.0.1:5000/userpage">Домой</a>




	</body>
		 
</HTML>
