<HTML>
	<head>
		<title>Users</title>
		<meta charset="utf8">
		<style>
			header{
			text-align: center;
			font-size: 45px;
			font-style: oblique;
			font-weight: 700;
			}
			a{
			color: black;
			font-size: 25px;
			text-decoration: none;
			}
			a:hover {
			text-decoration: underline;
    		font-size: 30px;
    		font-style: oblique;
    		font-weight: 700;
    		}
    		p{
    		font-size: 30px;}
    		select{
    		font-size: 23px;
   			}
   			input{
   			font-size: 23px;
   			}

		</style>
	</head>
	<body>
	<header>Users</header>
	<a><ul>
		{%for User in users%}
		<li><a href="{{url_for('user_page', p_id=User.id)}}">{{User.login}}</a></li>
		{% endfor %}
	</ul></a><br>
	<a href="http://127.0.0.1:5000/userpage">Домой</a>



	</body>

</HTML>
